<button (click)="createNewProduct()">Sell product</button>
<button (click)="onShowDetail('1213')">Not found product</button>

<section class="products--grid">
  <app-product
    *ngFor="let product of products"
    [product]="product"
    (showProduct)="onShowDetail($event)"
    (addedProduct)="onAddedToShoppingCart($event)"
  ></app-product>
  <button (click)="loadMore()">Load more</button>
</section>

<aside class="product-detail" [class.active]="showProductChosen">
  {{statusDetail}}
  <div *ngIf="statusDetail === 'loading'" class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <article *ngIf="productChosen">
    <div class="product-detail__buttons">
      <button (click)="toggleProductChosen()">Close</button>
      <button (click)="updateProduct()">Edit</button>
      <button (click)="deleteProduct()">Delete</button>
    </div>
    <app-product-detail [productChosen]="productChosen"></app-product-detail>
  </article>
</aside>
