<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
    </a>
    <div class="cart">
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
      </a>
      <span class="counter">{{ counter }}</span>
    </div>
  </div>
  <div class="side-menu" [class.side-menu--open]="openMenu">
    <button (click)="toggleMenu()">Close</button>
    <app-nav-links></app-nav-links>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
      </a>
      <app-nav-links></app-nav-links>
    </nav>
    <div class="info">
      <app-login
        (loggedUser)="onLoggedUser($event)"
        *ngIf="!loggedUser.email; else loggedBlock"
      ></app-login>
      <ng-template #loggedBlock>
        <div>
          <span>{{ loggedUser.email }}</span>
          <button class="logout" (click)="onLogout()">Logout</button>
        </div>
        <div class="cart">
          <a href="">
            <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
          </a>
          <span class="counter">{{ counter }}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
