/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
  font-family: "Montserrat", sans-serif;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ACD9B2;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: #52d663;
    color: #fff;
  }
}
